.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

@media only screen and (max-width: 1185px) {
  .header {
    padding: 0 10px;
  }
  .header li {
    margin-left: 1rem;
  }
  .header a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    display: none;
  }
  .header {
    padding: 0 3px;
    height: 4rem;
  }
  .header li {
    margin-left: 20px;
  }

  .header a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 490px) {
  .header a {
    font-size: 13px;
  }

  .header li {
    margin-left: 8px;
  }
}
